#=========
# Required
#=========
TM_MASTERSERVER_LOGIN='' #Obtained from Trackmania
TM_MASTERSERVER_PASSWORD='' #Obtained from Trackmania
TM_ACCOUNT_ID='' #The trackmania account_id of which will get the server asigned to it.
TM_SERVER_URL= '' # Connection url for the trackmania server.

#=========
# Optional
#=========
TM_FILES='' # Needs to point to the UserData folder for the Trackamania server.
SPACETIMEDB_URL=''
SPACETIMEDB_MODULE=''
DEBUG_LOG_LEVEL='' # which level of logs will be sent to stdout. can be debug,info,warn,error (info default)