#=========
# Required
#=========
TM_MASTERSERVER_LOGIN='' #Obtained from Trackmania
TM_MASTERSERVER_PASSWORD='' #Obtained from Trackmania
TM_ACCOUNT_ID='' #The trackmania account_id of which will get the server asigned to it.

#=========
# Optional
#=========
SPACETIMEDB_URL=''
SPACETIMEDB_MODULE=''